@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
:root {
    /* Primary  */
    --dark-blue: #202046;
    --grayish-blue: #babacf;
}

html {
    font-size: 62.5%;
}

.c-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: Inter, Helvetica, sans-serif;
    background: url('./images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-y: 100%;
}

/* ========== Component Img Carousel ============= */

.c-carousel {
    /* Ancho maximo para mobile */
    max-width: 87.2%;
}

.c-slider {
    max-width: 77.98%;
    margin: 0 auto;
}

.c-slider__container {
    overflow: hidden;
    box-shadow: 20px 40px 65px -40px #6c52a7;
}

.c-carousel-item__container {
    position: relative;
}

.c-slider img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 3px;
    animation-name: 'slide-animation';
    animation-duration: .4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.c-carousel__pattern-img {
    z-index: -1;
    position: absolute;
    top: -3rem;
}

/* ======= c-buttons ========== */

.c-buttons {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 22px;
}

.c-buttons__container {
    display: inline-flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 10px 25px -6px #6c52a7;
}

.c-buttons__btn {
    border: none;
    padding: 1.1rem 1.5rem;
    background-color: #fff;
    cursor: pointer;
}

.c-buttons__btn:hover {
    background-color: #f8f8f8;
}

.c-buttons__btn-previus {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

.c-buttons__btn-next {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

.c-buttons__btn-next img {
    transform: rotate(180deg);
}

/* ======= c-text-slider ========= */

.c-text-slider {
    padding: 0 1.2rem;
    text-align: center;
    color: var(--dark-blue);
    animation-name: 'slide-animation-2';
    animation-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.c-text-slider__text {
    font-size: 1.8rem;
    padding: 1rem 0;
    background: url('./images/pattern-quotes.svg');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: center;
}

.c-text-slider__heading {
    font-size: 1.6rem;
    line-height: 2.1rem;
}

.o-hidde {
    display: none;
}

.c-text-slider__heading span {
    display: block;
    font-size: 1.4rem;
    color: var(--grayish-blue);
}

@media only screen and (min-width: 769px) {
    .c-body {
        background-size: 50%;
    }
    .c-carousel {
        /* Ancho maximo para desktop */
        max-width: 83.6%;
    }
    .c-carousel__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .c-carousel__container>* {
        flex: 1 1 0;
    }
    .c-carousel-item-2__container {
        position: relative;
        right: -65px;
    }
    .c-text-slider {
        padding: 0;
        text-align: left;
    }
    .c-text-slider__text {
        font-size: 2.3rem;
        background-position-x: right 25vw;
    }
    .c-text-slider__heading span {
        display: inline;
        padding-left: 1rem;
    }
    .c-slider {
        position: relative;
    }
    .c-buttons {
        position: absolute;
        display: inline-flex;
        bottom: -13px;
        left: 22px;
    }
    .c-buttons__btn {
        padding: 1.4rem 1.5rem;
    }
    .c-buttons__btn img {
        width: 8px;
    }
    .c-text-slider__heading {
        font-size: 1.9rem;
    }
    .c-text-slider__heading span{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1199px) {
    .c-carousel-item-2__container {
        right: -100px;
    }
    .c-text-slider__text {
        font-size: 3rem;
    }
}

@keyframes slide-animation {
    from {
        transform: translateX(8px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-animation-2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}